/* IMPORT EXTERNAL CSS */
@import url(/styles/resetDocument.css);
@import url(/styles/colors.css);
@import url(/styles/typography.css);
@import url(/styles/extras.css);

/* IMPORT COMPONENTS CSS */
@import url(/styles/components.css);

/* ESTILOS GENERALES */
body {
    background-color: var(--surface);
    color: var(--primary);
    position: relative;
}

section {
    padding-inline: var(--padding-inline-father-container);
    display: flex;
    flex-direction: column;
    gap: var(--gap-container);
    align-items: center;
}

.container {
    /* border: 1px solid blue; */
    position: relative;
    width: 100%;
    max-width: var(--breakpoint-max-width-container);
    display: flex;
    flex-direction: column;
    gap: var(--gap-container);
    align-items: center;
}

.display-flex {
    display: flex;
}

.max-width-children {
    max-width: var(--breakpoint-max-width-small);
}

.artifact-before-title {
    --color: var(--blue-900);

    position: relative;
    width: 27.5rem;
    display: flex;
    gap: .5rem;
    padding-block: .75rem;
    justify-content: center;

    &::before {
        content: '';
        position: absolute;
        top: -7.5rem;
        left: 0;
        width: 150%;
        aspect-ratio: 1/1;
        left: 50%;
        transform: translateX(-50%);
        background-image: url('/assets/svg/light-resource.svg');
        background-size: contain;
        z-index: -1;
    }

    .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.75) 25%, #FFF 50%, rgba(255, 255, 255, 0.75) 75%, rgba(255, 255, 255, 0.00) 100%);
        ;
        mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.75) 25%, #FFF 50%, rgba(255, 255, 255, 0.75) 75%, rgba(255, 255, 255, 0.00) 100%);
        ;

        .bg-color {
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, var(--emerald-50) 0%, var(--blue-200, ) 33%, var(--purple-300) 66%, var(--red-50) 100%);
        }

        .border {
            position: absolute;
            width: 100%;
            height: 100%;
            border-top: 2px solid transparent;
            border-bottom: 2px solid transparent;
            border-image: linear-gradient(90deg, var(--emerald-300) 0%, var(--blue-500, ) 33%, var(--purple-500) 66%, var(--red-300) 100%);
            border-image-slice: 1;
        }

        .texture {
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: url('/assets/img/texture-noise.webp');
            background-size: 5rem;
            background-repeat: repeat;
            mix-blend-mode: overlay;
            opacity: .5;
        }
    }
}

/* ESTILOS DE INDEX */

/* ESTILOS DE BG'S */
.bg {
    z-index: -1;
}

.bg-hero {
    background: url('/assets/svg/bg-hero.svg') no-repeat center center;
    width: 100vw;
    max-width: 90rem;
    height: 63.5rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* ESTILOS DE NAVIGATION BAR */
.navigation {
    display: grid;
    place-items: center;
    padding-top: 2rem;
    position: fixed;
    width: 100%;
    z-index: 10;

    .container {
        max-width: 60rem;
        height: 100%;
        padding: 16px;
        gap: var(--gap-container, 24px);
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(24px);
        border-radius: var(--radii-large);

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: inherit;
            border: var(--stroke-small, 1px) solid var(--semantic-borderHigh, #252836);
            opacity: var(--opacity-large, 0.8);
            background: var(--surface-alt-low, #151720);
            z-index: -1;
        }
    }

    div {
        display: flex;
        width: 100%;
    }
}

.logo-container {
    img {
        height: 2.5rem;
    }
}

.tabs-container {
    justify-content: center;
    color: var(--tertiary);

    a {
        display: flex;
        align-items: center;
        padding-inline: 1rem;
        min-height: 2.5rem;
    }
}

.buttons-container {
    justify-content: flex-end;

    .button.cta {
        height: 2.5rem;
        padding-inline: 0.875rem;
        border-width: var(--stroke-medium);
        border-radius: var(--radii-medium);

        span {
            padding-inline: 0;
        }

        .icon {
            width: 1.25rem;
        }
    }
}

/* ESTILOS DE HERO */

.hero {
    --height-navigation: 6.5rem;

    padding-block: var(--padding-block-father-container);
    padding-block-start: calc(var(--height-navigation) + var(--padding-block-father-container));
}

.hero-phrase {
    gap: .5rem;
    align-items: center;
    color: var(--tertiary);
}

.hero-avatar {
    img {
        width: 1.750rem;
        object-fit: contain;
        aspect-ratio: 1/1;
        border: 2px solid var(--surface);
        border-radius: var(--radii-full);

        &:nth-child(1) {
            border-color: var(--surface-alt-low);
        }

        &:not(:first-of-type) {
            margin-inline-start: -.5rem;
        }
    }
}

.hero-text {
    color: var(--zero);
    text-align: center;
    flex-direction: column;
    gap: inherit;
    margin-block-end: 1.5rem;

    h1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    img {
        height: 3.75rem;
        object-fit: cover;
        aspect-ratio: 1/1;
        border: 2px solid #fff;
        border-radius: var(--radii-large);

        &:first-of-type {
            aspect-ratio: 3/2;
        }
    }

    span[class="accent-xxlarge"] {
        --custom-gradient: linear-gradient(90deg, var(--zero) 25%, var(--quaternary) 50%, var(--zero) 75%);

        background: var(--custom-gradient);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    p {
        color: var(--secondary);
    }
}

.hero-buttons {
    gap: inherit;
}

/* ESTILOS DE SERVICES MINI */
.services-pills {
    padding-block: var(--padding-inline-father-container);
    padding-inline: 0;
    position: relative;
    overflow: hidden;
    max-width: 90rem;
    margin: auto;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 5rem;
        height: 100%;
        background: linear-gradient(90deg, var(--surface) 0%, transparent 100%);
        z-index: 1;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 5rem;
        height: 100%;
        background: linear-gradient(270deg, var(--surface) 0%, transparent 100%);
        z-index: 1;
    }

    .container {
        max-width: initial;
        align-items: flex-start;
    }
}

.row-big-pill {
    display: inline-flex;
    width: 220rem;
    gap: 1.5rem;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &:first-child {
        --animation-speed: 120s;
        animation: scroll-left var(--animation-speed) linear infinite;
    }

    &:nth-child(2) {
        --animation-speed: 120s;
        animation: scroll-right var(--animation-speed) linear infinite;
        width: 183rem;
        align-self: flex-end;
    }
}

/* ANIMACION DE SERVICES MINI */

/* @keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-220rem/2));
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(183rem/2));
    }
} */

/* ESTILOS DE PROJECT CARDS */
.projects {
    position: relative;
    padding-block: var(--padding-block-father-container);

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('/assets/svg/bg-projects.svg');
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 90rem;
        z-index: -1;
    }
}

.projects-title {
    text-align: center;
    margin-block: var(--gap-container);
}

.projects-container {
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

.project-card {
    --transition: all 240ms ease;

    position: relative;
    min-width: 20rem;
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    background: var(--surface);
    border: 2px solid var(--on-surface-high);
    border-radius: var(--radii-x-large);
    overflow: hidden;
    padding: 1.5rem;
    gap: 1rem;
    transition: var(--transition);

    &::before {
        content: '';
        position: absolute;
        top: 68px;
        left: 50%;
        width: 12.5rem;
        transform: translateX(-50%);
        aspect-ratio: 1/1.2;
        background-image: var(--url);
        filter: blur(56px);
        opacity: .8;
    }

    &>.image-card,
    &>.main-card,
    &>.pills-card {
        z-index: 2;
    }
}

.image-card {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: var(--radii-medium);
    margin-block-end: .5rem;
    border: 1px solid var(--border-high);
}

.main-card {
    display: flex;
    align-items: start;
    gap: .75rem;

    img {
        width: 3rem;
        aspect-ratio: 1/1;
        border: 1px solid var(--border-high);
        border-radius: var(--radii-medium);
    }

    .text-container {
        display: flex;
        flex-direction: column;
        gap: .25rem;
        color: var(--primary);

        :last-child {
            color: var(--tertiary);
        }
    }
}

.pills-card {
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.cta-card {
    --transition: all 240ms ease;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    overflow: hidden;
    background: var(--surface);
    border-radius: var(--radii-x-large);
    border: 2px solid var(--on-surface-high);
    transition: var(--transition);

    .bg {
        background-image: url('/assets/img/bg-cta-card.webp');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 0;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url(/assets/img/bg-cta-card-texture.webp);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            mix-blend-mode: soft-light;
        }
    }
}

/* INTERACCIONES DE PROJECT CARDS */

.project-card:hover {
    --transition: all 240ms ease;

    transition: var(--transition);
    transform: translateY(-4px);
}

.cta-card:hover {
    transition: var(--transition);
    transform: translateY(-4px);
    border-color: var(--white);
}

/* ESTILOS DE ADVANTAGES */
.advantages {
    display: flex;
    padding-block: var(--padding-inline-father-container);
    position: relative;
    background: var(--surface);
    color: var(--primary);
    border-radius: var(--radii-x-large);
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('/assets/img/texture-noise-white.webp');
        background-repeat: repeat;
        background-position: top center;
        background-size: 10rem;
        mix-blend-mode: overlay;
    }

    .container {
        max-width: var(--breakpoint-max-width-small);
        gap: var(--gap-container);
        padding-block: var(--padding-inline-father-container);
        align-items: start;
    }

    h4 {

        &:not(:first-of-type) {
            color: var(--quaternary);
        }

        &:last-child {
            display: inline;
            width: auto;
        }

        &:last-child {
            background: linear-gradient(90deg, var(--red-400) 0%, var(--purple-400) 50%, var(--blue-400) 100%);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
        }
    }
}

.cta-advantages {
    text-decoration: underline;
    text-decoration-color: var(--zero);
}