:root .light {
  /* COLORS - LIGHT THEME */
  --blue-50: #e6eefc;
  --blue-100: #b9ccf9;
  --blue-200: #8eaef4;
  --blue-300: #618ef1;
  --blue-400: #346dee;
  --blue-500: #1351df;
  --blue-600: #0f41b3;
  --blue-700: #0a3187;
  --blue-800: #06205b;
  --blue-900: #04102e;

  --purple-50: #ede7fb;
  --purple-100: #d2c0f7;
  --purple-200: #b69bf4;
  --purple-300: #9c76ef;
  --purple-400: #804feb;
  --purple-500: #6329e8;
  --purple-600: #4c16c8;
  --purple-700: #381094;
  --purple-800: #240a61;
  --purple-900: #12032f;

  --emerald-50: #e2fcf0;
  --emerald-100: #70f2b5;
  --emerald-200: #13db7d;
  --emerald-300: #10bd6c;
  --emerald-400: #0ea05c;
  --emerald-500: #0b834b;
  --emerald-600: #08683b;
  --emerald-700: #064e2c;
  --emerald-800: #04351e;
  --emerald-900: #021e11;

  --orange-50: #fef1e9;
  --orange-100: #fad1b5;
  --orange-200: #f7af7f;
  --orange-300: #f38b46;
  --orange-400: #e8660f;
  --orange-500: #c1550d;
  --orange-600: #9c440b;
  --orange-700: #783508;
  --orange-800: #562606;
  --orange-900: #351704;

  --red-50: #fcedf0;
  --red-100: #f5ccd3;
  --red-200: #eea9b6;
  --red-300: #e88598;
  --red-400: #e05e77;
  --red-500: #d62b4e;
  --red-600: #ad213d;
  --red-700: #84192f;
  --red-800: #5d1221;
  --red-900: #380b14;

  --gray-blue-50: #fafbfc;
  --gray-blue-100: #f0f1f5;
  --gray-blue-200: #e1e4ea;
  --gray-blue-300: #ccd0da;
  --gray-blue-400: #99a0b5;
  --gray-blue-500: #646d8a;
  --gray-blue-600: #51586f;
  --gray-blue-700: #3e4456;
  --gray-blue-800: #2b2e3b;
  --gray-blue-900: #1b1e25;

  --gray-surface-50: #F6F6F9;
  --gray-surface-100: #EDEDF3;
  --gray-surface-200: #E4E4ED;
  --gray-surface-300: #DBDCE6;
  --gray-surface-400: #D2D4E0;
  --gray-surface-500: #C9CBD9;
  --gray-surface-600: #C0C4D3;
  --gray-surface-700: #B7BCCC;
  --gray-surface-800: #AFB4C6;
  --gray-surface-900: #A6ADBF;

  --gray-on-surface-50: #7E869E;
  --gray-on-surface-100: #6F7995;
  --gray-on-surface-200: #636E8A;
  --gray-on-surface-300: #58637D;
  --gray-on-surface-400: #4D5870;
  --gray-on-surface-500: #434D63;
  --gray-on-surface-600: #384256;
  --gray-on-surface-700: #2E3748;
  --gray-on-surface-800: #252C3A;
  --gray-on-surface-900: #1B212C;

  --gray-opacity-50: hsla(240, 20%, 98%, 0.051);
  --gray-opacity-100: hsla(228, 22%, 90%, 0.23);
  --gray-opacity-200: hsla(228, 31%, 83%, 0.43);
  --gray-opacity-300: hsla(228, 29%, 75%, 0.52);
  --gray-opacity-400: hsla(227, 26%, 68%, 0.58);
  --gray-opacity-500: hsla(227, 20%, 60%, 0.61);
  --gray-opacity-600: hsla(228, 21%, 53%, 0.67);
  --gray-opacity-700: hsla(228, 22%, 45%, 0.70);
  --gray-opacity-800: hsla(228, 28%, 38%, 0.76);
  --gray-opacity-900: hsla(228, 27%, 30%, 0.81);

  --white: #ffffff;
  --black: #000000;

  /* SEMANTIC - LIGHT THEME */
  --surface: var(--gray-surface-50);
  --surface-alt-low: var(--gray-surface-100);
  --surface-alt-medium: var(--gray-surface-200);
  --surface-alt-high: var(--gray-surface-300);
  --on-surface-low: var(--white);
  --on-surface-medium: var(--white);
  --on-surface-high: var(--white);
  --border-low: var(--gray-surface-200);
  --border-medium: var(--gray-surface-300);
  --border-high: var(--gray-surface-400);
  --zero: var(--gray-on-surface-900);
  --primary: var(--gray-on-surface-800);
  --secondary: var(--gray-on-surface-600);
  --tertiary: var(--gray-on-surface-400);
  --quaternary: var(--gray-on-surface-200);
}

:root .dark {
  /* COLORS - DARK THEME */
  --blue-50: #08122a;
  --blue-100: #102452;
  --blue-200: #18377c;
  --blue-300: #204ba9;
  --blue-400: #2b60d6;
  --blue-500: #557adf;
  --blue-600: #7895e5;
  --blue-700: #9ab0ec;
  --blue-800: #bccaf2;
  --blue-900: #dee5f9;

  --purple-50: #15092f;
  --purple-100: #2b1361;
  --purple-200: #411d94;
  --purple-300: #5927ca;
  --purple-400: #7347db;
  --purple-500: #8c67e2;
  --purple-600: #a486e7;
  --purple-700: #bba5ed;
  --purple-800: #d2c3f3;
  --purple-900: #e9e2f9;

  --emerald-50: #092c1c;
  --emerald-100: #0d422a;
  --emerald-200: #115939;
  --emerald-300: #167149;
  --emerald-400: #1b8a59;
  --emerald-500: #20a56a;
  --emerald-600: #25c07c;
  --emerald-700: #3dda96;
  --emerald-800: #96ebc6;
  --emerald-900: #e0f9ee;

  --orange-50: #2b1709;
  --orange-100: #482610;
  --orange-200: #683716;
  --orange-300: #89481e;
  --orange-400: #ab5b25;
  --orange-500: #cf6e2d;
  --orange-600: #db8e5b;
  --orange-700: #e5ae89;
  --orange-800: #efcdb6;
  --orange-900: #f9ebe2;

  --red-50: #290c12;
  --red-100: #4c1621;
  --red-200: #702031;
  --red-300: #972b41;
  --red-400: #bf3653;
  --red-500: #d15b73;
  --red-600: #db8090;
  --red-700: #e5a2ac;
  --red-800: #eec3c9;
  --red-900: #f7e3e6;

  --gray-blue-50: #0d0e12;
  --gray-blue-100: #13151a;
  --gray-blue-200: #21252e;
  --gray-blue-300: #393e4e;
  --gray-blue-400: #58617a;
  --gray-blue-500: #7f88a3;
  --gray-blue-600: #a9afc1;
  --gray-blue-700: #c4c8d4;
  --gray-blue-800: #dbdee6;
  --gray-blue-900: #eceef2;

  --gray-surface-50: #101119;
  --gray-surface-100: #151720;
  --gray-surface-200: #1A1C28;
  --gray-surface-300: #1F222F;
  --gray-surface-400: #252836;
  --gray-surface-500: #2A2F3D;
  --gray-surface-600: #2F3544;
  --gray-surface-700: #353C4B;
  --gray-surface-800: #3A4252;
  --gray-surface-900: #404959;

  --gray-on-surface-50: #7D88A1;
  --gray-on-surface-100: #8792AB;
  --gray-on-surface-200: #919CB5;
  --gray-on-surface-300: #9CA6BF;
  --gray-on-surface-400: #A7B0C8;
  --gray-on-surface-500: #B3BBD1;
  --gray-on-surface-600: #BEC5DA;
  --gray-on-surface-700: #CBD0E2;
  --gray-on-surface-800: #D7DCEA;
  --gray-on-surface-900: #E4E7F1;

  --gray-opacity-50: hsla(220, 24%, 4%, 0.702);
  --gray-opacity-100: hsla(220, 24%, 4%, 0.66);
  --gray-opacity-200: hsla(220, 24%, 4%, 0.63);
  --gray-opacity-300: hsla(220, 24%, 4%, 0.60);
  --gray-opacity-400: hsla(220, 24%, 4%, 0.55);
  --gray-opacity-500: hsla(220, 24%, 4%, 0.5176);
  --gray-opacity-600: hsla(220, 24%, 4%, 0.48);
  --gray-opacity-700: hsla(220, 24%, 4%, 0.44);
  --gray-opacity-800: hsla(220, 24%, 4%, 0.4118);
  --gray-opacity-900: hsla(220, 24%, 4%, 0.38);

  /* SEMANTIC - DARK THEME */
  --surface: var(--gray-surface-50);
  --surface-alt-low: var(--gray-surface-100);
  --surface-alt-medium: var(--gray-surface-200);
  --surface-alt-high: var(--gray-surface-300);
  --on-surface-low: rgba(177, 201, 251, 0.03);
  --on-surface-medium: rgba(173, 186, 255, 0.06);
  --on-surface-high: rgba(173, 192, 255, 0.09);
  --border-low: var(--gray-surface-200);
  --border-medium: var(--gray-surface-300);
  --border-high: var(--gray-surface-400);
  --zero: var(--gray-on-surface-900);
  --primary: var(--gray-on-surface-800);
  --secondary: var(--gray-on-surface-600);
  --tertiary: var(--gray-on-surface-400);
  --quaternary: var(--gray-on-surface-200);
}