:root {
  /* COLORS - LIGHT THEME */
  --color-blue-50: #e6eefc;
  --color-blue-100: #b9ccf9;
  --color-blue-200: #8eaef4;
  --color-blue-300: #618ef1;
  --color-blue-400: #346dee;
  --color-blue-500: #1351df;
  --color-blue-600: #0f41b3;
  --color-blue-700: #0a3187;
  --color-blue-800: #06205b;
  --color-blue-900: #04102e;

  --color-purple-50: #ede7fb;
  --color-purple-100: #d2c0f7;
  --color-purple-200: #b69bf4;
  --color-purple-300: #9c76ef;
  --color-purple-400: #804feb;
  --color-purple-500: #6329e8;
  --color-purple-600: #4c16c8;
  --color-purple-700: #381094;
  --color-purple-800: #240a61;
  --color-purple-900: #12032f;

  --color-emerald-50: #e2fcf0;
  --color-emerald-100: #70f2b5;
  --color-emerald-200: #13db7d;
  --color-emerald-300: #10bd6c;
  --color-emerald-400: #0ea05c;
  --color-emerald-500: #0b834b;
  --color-emerald-600: #08683b;
  --color-emerald-700: #064e2c;
  --color-emerald-800: #04351e;
  --color-emerald-900: #021e11;

  --color-orange-50: #fef1e9;
  --color-orange-100: #fad1b5;
  --color-orange-200: #f7af7f;
  --color-orange-300: #f38b46;
  --color-orange-400: #e8660f;
  --color-orange-500: #c1550d;
  --color-orange-600: #9c440b;
  --color-orange-700: #783508;
  --color-orange-800: #562606;
  --color-orange-900: #351704;

  --color-red-50: #fcedf0;
  --color-red-100: #f5ccd3;
  --color-red-200: #eea9b6;
  --color-red-300: #e88598;
  --color-red-400: #e05e77;
  --color-red-500: #d62b4e;
  --color-red-600: #ad213d;
  --color-red-700: #84192f;
  --color-red-800: #5d1221;
  --color-red-900: #380b14;

  --color-gray-blue-50: #fafbfc;
  --color-gray-blue-100: #f0f1f5;
  --color-gray-blue-200: #e1e4ea;
  --color-gray-blue-300: #ccd0da;
  --color-gray-blue-400: #99a0b5;
  --color-gray-blue-500: #646d8a;
  --color-gray-blue-600: #51586f;
  --color-gray-blue-700: #3e4456;
  --color-gray-blue-800: #2b2e3b;
  --color-gray-blue-900: #1b1e25;

  --color-white: #ffffff;
  --color-black: #000000;

  /* Semantic - Light Theme */
  --color-surface: var(--color-gray-blue-50);
  --color-surface-alt-low: var(--color-gray-blue-100);
  --color-surface-alt-medium: var(--color-gray-blue-200);
  --color-surface-alt-high: var(--color-gray-blue-300);
  --color-on-surface-low: var(--color-white);
  --color-on-surface-medium: var(--color-white);
  --color-on-surface-high: var(--color-white);
  --color-border-low: var(--color-gray-blue-200);
  --color-border-medium: var(--color-gray-blue-300);
  --color-border-high: var(--color-gray-blue-400);
  --color-primary: var(--color-gray-blue-800);
  --color-secondary: var(--color-gray-blue-600);
  --color-tertiary: var(--color-gray-blue-400);
  --color-quaternary: var(--color-gray-blue-200);
}

:root .dark {
  /* COLORS - DARK THEME */
  --color-blue-50: #08122a;
  --color-blue-100: #102452;
  --color-blue-200: #18377c;
  --color-blue-300: #204ba9;
  --color-blue-400: #2b60d6;
  --color-blue-500: #557adf;
  --color-blue-600: #7895e5;
  --color-blue-700: #9ab0ec;
  --color-blue-800: #bccaf2;
  --color-blue-900: #dee5f9;

  --color-purple-50: #15092f;
  --color-purple-100: #2b1361;
  --color-purple-200: #411d94;
  --color-purple-300: #5927ca;
  --color-purple-400: #7347db;
  --color-purple-500: #8c67e2;
  --color-purple-600: #a486e7;
  --color-purple-700: #bba5ed;
  --color-purple-800: #d2c3f3;
  --color-purple-900: #e9e2f9;

  --color-emerald-50: #092c1c;
  --color-emerald-100: #0d422a;
  --color-emerald-200: #115939;
  --color-emerald-300: #167149;
  --color-emerald-400: #1b8a59;
  --color-emerald-500: #20a56a;
  --color-emerald-600: #25c07c;
  --color-emerald-700: #3dda96;
  --color-emerald-800: #96ebc6;
  --color-emerald-900: #e0f9ee;

  --color-orange-50: #2b1709;
  --color-orange-100: #482610;
  --color-orange-200: #683716;
  --color-orange-300: #89481e;
  --color-orange-400: #ab5b25;
  --color-orange-500: #cf6e2d;
  --color-orange-600: #db8e5b;
  --color-orange-700: #e5ae89;
  --color-orange-800: #efcdb6;
  --color-orange-900: #f9ebe2;

  --color-red-50: #290c12;
  --color-red-100: #4c1621;
  --color-red-200: #702031;
  --color-red-300: #972b41;
  --color-red-400: #bf3653;
  --color-red-500: #d15b73;
  --color-red-600: #db8090;
  --color-red-700: #e5a2ac;
  --color-red-800: #eec3c9;
  --color-red-900: #f7e3e6;

  --color-gray-blue-50: #0d0e12;
  --color-gray-blue-100: #13151a;
  --color-gray-blue-200: #21252e;
  --color-gray-blue-300: #393e4e;
  --color-gray-blue-400: #58617a;
  --color-gray-blue-500: #7f88a3;
  --color-gray-blue-600: #a9afc1;
  --color-gray-blue-700: #c4c8d4;
  --color-gray-blue-800: #dbdee6;
  --color-gray-blue-900: #eceef2;

  /* SEMANTIC - DARK THEME */
  --color-surface: var(--color-gray-blue-50);
  --color-surface-alt-low: var(--color-gray-blue-100);
  --color-surface-alt-medium: var(--color-gray-blue-200);
  --color-surface-alt-high: var(--color-gray-blue-300);
  --color-on-surface-low: rgba(177, 201, 251, 0.03);
  --color-on-surface-medium: rgba(173, 186, 255, 0.06);
  --color-on-surface-high: rgba(173, 192, 255, 0.09);
  --color-border-low: var(--color-gray-blue-200);
  --color-border-medium: var(--color-gray-blue-300);
  --color-border-high: var(--color-gray-blue-400);
  --color-primary: var(--color-gray-blue-800);
  --color-secondary: var(--color-gray-blue-600);
  --color-tertiary: var(--color-gray-blue-400);
  --color-quaternary: var(--color-gray-blue-200);
}