:root {
  /* BORDER STYLES*/
  --radii-x-small: 0.5rem;
  --radii-small: 0.75rem;
  --radii-medium: 1rem;
  --radii-xmedium: 1.25rem;
  --radii-large: 1.5rem;
  --radii-x-large: 2.5rem;
  --radii-full: 62.438rem;

  --stroke-x-small: 0.5px;
  --stroke-small: 1px;
  --stroke-medium: 1.5px;
  --stroke-large: 2px;
  --stroke-x-large: 3px;

  /* SHADOWS */
  --drop-shadow-small:
    2px 2px 4px 0 var(--gray-opacity-100),
    1px 1px 2px 0 var(--gray-opacity-100);

  --drop-shadow-normal:
    2px 2px 6px 0 var(--gray-opacity-200),
    1px 1px 2px 0 var(--gray-opacity-100);

  --drop-shadow-medium:
    3px 3px 10px -2px var(--gray-opacity-300),
    4px 4px 12px -4px var(--gray-opacity-200),
    2px 2px 4px 0 var(--gray-opacity-100);

  /* INNER SHADOWS */
  --inner-shadow-normal:
    inset -2px -2px 4px 0 var(--on-surface-low),
    inset 2px 4px 8px 0 var(--gray-opacity-200),
    inset 1px 2px 4px 0 var(--gray-opacity-100),
    inset 1px 1px 2px 0 var(--gray-opacity-300);

  --inner-shadow-medium:
    inset -1px -1px 8px 0 var(--on-surface-low),
    inset -1px -1px 6px -2px var(--on-surface-low),
    inset 4px 4px 14px 0 var(--gray-opacity-300),
    inset 1px 1px 8px -2px var(--gray-opacity-100),
    inset 1px 1px 4px 0 var(--gray-opacity-300),
    inset 1px 1px 2px 0 var(--gray-opacity-300);

  /* CUSTOM SHADOWS */
  --shadow-button:
    inset 8px 8px 10px -2px rgba(4, 16, 46, 0.16),
    inset -4px 4px 4px -2px rgba(4, 16, 46, 0.16),
    inset -6px -8px 8px -6px rgba(4, 16, 46, 0.16);

  --shadow-icon-button:
    inset 0 8px 10px -2px rgba(4, 16, 46, 0.16),
    inset 0 4px 4px -2px rgba(4, 16, 46, 0.16),
    inset 0 -8px 8px -6px rgba(4, 16, 46, 0.16);

  /* BREAKPOINTS & SIZES */
  --breakpoint-max-width-body: 90rem;
  --breakpoint-max-width-container: 67.5rem;
  --breakpoint-max-width-small: 55rem;

  --padding-inline-father-container: 4rem;
  --padding-block-father-container: 10rem;

  --gap-container: 1.5rem;
}

/* CLASES DE SOMBRAS */
.drop-shadow-small {
  box-shadow:
    2px 2px 4px 0 var(--gray-opacity-100),
    1px 1px 2px 0 var(--gray-opacity-100);
}

.drop-shadow-normal {
  box-shadow:
    2px 2px 6px 0 var(--gray-opacity-200),
    1px 1px 2px 0 var(--gray-opacity-100);
}

.drop-shadow-medium {
  box-shadow:
    3px 3px 10px -2px var(--gray-opacity-300),
    4px 4px 12px -4px var(--gray-opacity-200),
    2px 2px 4px 0 var(--gray-opacity-100);
}

.inner-shadow-normal {
  box-shadow:
    inset -2px -2px 4px 0 var(--on-surface-low),
    inset 2px 4px 8px 0 var(--gray-opacity-200),
    inset 1px 2px 4px 0 var(--gray-opacity-100),
    inset 1px 1px 2px 0 var(--gray-opacity-300);
}

.inner-shadow-medium {
  box-shadow:
    inset -1px -1px 8px 0 var(--on-surface-low),
    inset -1px -1px 6px -2px var(--on-surface-low),
    inset 4px 4px 14px 0 var(--gray-opacity-300),
    inset 1px 1px 8px -2px var(--gray-opacity-100),
    inset 1px 1px 4px 0 var(--gray-opacity-300),
    inset 1px 1px 2px 0 var(--gray-opacity-300);
  ;
}

/* MEDIA QUERIES PARA RESPONSIVE DE LA WEB */
@media screen and (max-width: 880px) {
  :root {
    --padding-inline-father-container: 2.5rem;
  }
}

@media screen and (max-width: 560px) {
  :root {
    --padding-inline-father-container: 1.25rem;
    --padding-block-father-container: 5rem
  }
}